/**
 * Title: txtFileReader
 *
 * Program: This file will read integers text from one 
 * .txt file, remove the repeats, and write
 * them to a new .txt file, it is assumed that,
 * the integers are sorted.
 *
 *Author: Anthony Terravecchia
 *
 */
 
 import java.io.*;
 
 public class txtFileReader
 {
    public static void main(String[] args)
    {
           
    }
 }
 
